.Background body{
	background-color: #908EBA;
	background-size: cover;
  	width:auto;
  	height:auto;
  	background-image: url("../../utils/assets/images/pawprints.png")
}

.MediaCapture {
	/*background-color: #000000;*/
	background-color: #908EBA;
	border-top: #000000;
	padding-left: 15px;
	padding-right: 20px; 
	padding-top: -30px;
 	
}

#Caplogo{
	max-width: 30%
}


	
#captureVideo {
 margin: auto;
   
}



#GeotaggedMedia {
	float: right;
	 

}

.mediaButtons {
	padding-top: 75%; 


}

#buttonCapture {
	margin-left: 40%; 
	background-color: #908EBA;


}
