html, body, #root {
  height: 100%;
}
.Background html, body, #root{

	background: url('./plainBackground.jpg') no-repeat center center fixed;
	background-size: cover;
  	width:auto;
  	height:100%;
}

.MediaCapture {
	
	/*background-color: #908EBA;*/
	border-top: #000000;
	padding-left: 30px;
	padding-right: 30px; 
	margin-top: 200px;
	padding-top:30px;
	background-color: #ADADAD;
 	
}

#webcam { 
	border-color:#000000;
	border-width: 6px;
	margin-left: 200px; 
	height: 100%;
	width: 100%;
}
	
#captureVideo {
 margin: auto;
 background-color: #ADADAD
 
   
}

#MyMedia {

  padding-top:; 
  background-color: #ADADAD;
  margin-top:20%;

}

#GeotaggedMedia {
	float: right;
	background-color: #ADADAD;
	margin-top:20%;
	 

}

.mediaButtons {
	padding-top: 75%; 


}

#buttonCapture {
	margin-left: 40%; 
	background-color: #ADADAD;


}

#WebCapture{
	margin-top: -50px;
}