html, body, #root {
  height: 100%;
}
.Background html, body, #root{

	background: url('./plainBackground.jpg') no-repeat center center fixed;
	background-size: cover;
  	width:auto;
  	height:100%;
}

.MediaCapture {
	
	/*background-color: #908EBA;*/
	border-top: #000000;
	padding-left: 15px;
	padding-right: 20px; 
	padding-top: -30px;
 	
}

	
#PawLogo2{
 background-color: #ADADAD;
 
   
}

#MyMedia {

  padding-top:; 
  background-color: #ADADAD;

}

#GeotaggedMedia {
	float: right;
	background-color: #ADADAD;
	 

}

.mediaButtons {
	padding-top: 75%; 


}
1
#buttonCapture {
	margin-left: 40%; 
	background-color: #ADADAD;


}

.MediaDisplay {
	margin-top: 100px;
}
			

.carousel {
	background-color: #949494;
	width:700px%;
	



}

.thumbnail {
	background-color:  #908EB4;
}
